header{
    width: 100%;
    padding: 28px 8%;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav-logo{
    font-size: 1.3rem;
    color:#e9a209;
}

.nav-list{
    display: flex;
    list-style: none;
    gap: 3rem;
}

.nav-list_item a{
    text-decoration: none;
    color: #1d1d1dad;
    font-weight: 600;
}

.nav-list_item.active a{
    color: #1d1d1dad;
    border-bottom: 3px solid #ffe100;
}

#mobile-btn{
    display: none;
}

#mobile-menu{
    display: none;
}

@media screen and (max-width: 1170px) {
    .nav-list,
    .navbar .btn-default{
        display: none;
    }

    #mobile-btn{
        display: block;
        border:none;
        background-color: transparent;
        font-size: 1.5rem;
        cursor: pointer;

    }

    #mobile-menu.active{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .mobile-nav_list{
        display: flex;
        flex-direction: column;
        margin: 12px 0px;
        gap: 12px;
    }

    .mobile-nav_list .mobile-nav_list_item  {
        list-style: none;
        text-align: center;
        
    }

    .mobile-nav_list .mobile-nav_list_item a{
        text-decoration: none;
        color: #1d1d1dad;
        font-weight: 600;
    }
}